{% block dateTimePicker_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' Panda86DateTimePicker')|trim}) %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form.date) }}
        {{ form_errors(form.time) }}

        <div class='req-datepicker controls'>
            <div class='input-append'>
                {{ form_widget(form.date, {'id' : id ~ '_datepicker', 'attr': {'class': 'input-medium', 'placeholder' : 'yyyy-mm-dd', 'data-format':'yyyy-MM-dd'} }) }}
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
        </div>
        <label class='control-label'>
            <span class='f-required'>*</span>
        </label>

        <div class='req-timepicker controls'>
            <div class='input-append'>
                {{ form_widget(form.time, {'id' : id ~ '_timepicker', 'attr': {'class': 'input-medium', 'placeholder' : '24 hours e.g. hh:mm', 'data-format':'hh:mm'} }) }}
                <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
        </div>
    </div>
{% endblock %}