{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% block title %}
    {{ parent() }} - Edit vehicle details
{% endblock %}

{% set closeBtn_url = path('vehicle') %}
{% block form %}
    <form class="appnitro form-horizontal" action="{{ path('vehicle_update', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }} novalidate>
        <div class="form_description">
            <h2>Edit vehicle details</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(edit_form) }}
        {{ form_widget(edit_form._token) }}

        <!-- form fields -->
        <div class="control-group">
            <label class="control-label">Make</label>

            <div class="controls">
                {{ form_row(edit_form.make) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Model</label>

            <div class="controls">
                {{ form_row(edit_form.model) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Reg. no</label>

            <div class="controls">
                {{ form_row(edit_form.reg_no) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Vehicle type</label>

            <div class="controls">
                {{ form_row(edit_form.vtype) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">No. of passengers</label>

            <div class="controls">
                {{ form_row(edit_form.passengers) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Owned by the company</label>

            <div class="controls">
                {{ form_row(edit_form.is_company_owned) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Air-conditioned</label>

            <div class="controls">
                {{ form_row(edit_form.ac) }}
            </div>
        </div>

        <div id="upload_photo_div">
            <div class="control-group">
                <label for="upload_photo" class="control-label">Upload/Change photo</label>

                <div class="controls">
                    {{ form_row(edit_form.image) }}
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Other details</label>

            <div class="controls">
                {{ form_row(edit_form.remarks) }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-success" type="submit" value="Save & Return"/>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="span2" style="text-align:center">
            <form action="{{ path('vehicle_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button id="del_entry" class="btn btn-danger" type="submit">Remove vehicle</button>
            </form>
        </div>
    </div>
{% endblock %}
