{% extends '::admin-ui.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="span"].centred {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    </style>
    <link rel="stylesheet" href="/public/css/smoothness/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/chosen/chosen.css">
    <link rel="stylesheet" href="/public/css/request/new.css">
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="span9 centred">

            <img id="top" src="/public/css/request/top.png" alt="">

            <div id="form_container">
                <h1>Header</h1>

                <form class="appnitro form-horizontal" novalidate action="{{ path('vehicle_update', { 'id': entity.id }) }}"
                      method="post" {{ form_enctype(edit_form) }}>
                    <div class="form_description">
                        <h2>Edit vehicle details</h2><br/>
                    </div>
                    <!-- form validation -->
                    {{ form_errors(edit_form) }}
                    {{ form_widget(edit_form._token) }}

                    <!-- form fields -->
                    <div class="control-group">
                        <label class="control-label">Make</label>

                        <div class="controls">
                            {{ form_row(edit_form.make) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Model</label>

                        <div class="controls">
                            {{ form_row(edit_form.model) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Reg. no</label>

                        <div class="controls">
                            {{ form_row(edit_form.reg_no) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Vehicle type</label>

                        <div class="controls">
                            {{ form_row(edit_form.vtype) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">No. of passengers</label>

                        <div class="controls">
                            {{ form_row(edit_form.passengers) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Owned by the company</label>

                        <div class="controls">
                            {{ form_row(edit_form.is_company_owned) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Air-conditioned</label>

                        <div class="controls">
                            {{ form_row(edit_form.ac) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Upload a photo</label>

                        <div class="controls">
                            {{ form_row(edit_form.image) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Other details</label>

                        <div class="controls">
                            {{ form_row(edit_form.remarks) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" formnovalidate="">Save</button>
                        </div>
                    </div>
                    <!--/ form fields -->
                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('vehicle') }}">
                                Back to the list
                            </a>
                        </li>
                        <li>
                            <form action="{{ path('vehicle_delete', { 'id': entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE"/>
                                {{ form_widget(delete_form) }}
                                <button type="submit">Delete entry</button>
                            </form>
                        </li>
                    </ul>
                    <div id="footer">
                        <a href="http://www.icta.lk">ICTA | &copy 2013</a>
                    </div>
                </form>
            </div>
            <img id="bottom" src="/public/css/request/bottom.png" alt="">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/public/js/jquery-1.9.1.min.js"></script>
{% endblock %}
