{% extends 'Panda86AppBundle::list-view.html.twig' %}

{% set heading = 'Vehicles\' details' %}
{% set newBtn_url = path('vehicle_new') %}
{% block table %}
    <table class="records_list table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Vehicle</th>
            <th>Reg. No.</th>
            <th>Category</th>
            <th>Passengers</th>
            <th>Date added</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vehicle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.make }} {{ entity.model }}</td>
                <td>{{ entity.regno }}</td>
                <td>{{ entity.vtype.name }}</td>
                <td>{{ entity.passengers }}</td>
                <td>{% if entity.wasadded %}{{ entity.wasadded|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehicle_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}