{% extends 'Panda86AppBundle::list-view.html.twig' %}

{% block title %}
    {{ parent() }} - List of vehicles
{% endblock %}
{% set heading = 'List of vehicles' %}
{% set newBtn_url = path('vehicle_new') %}

{% block table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Vehicle</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.make }} {{ entity.model }} {{ entity.regno }}</td>
                <td>{{ entity.vtype.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehicle_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ parent() }}
{% endblock %}