{% extends '::admin-app.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="/assets/DataTables/dataTables.css">
        <link rel="stylesheet" type="text/css" href="/assets/colorbox/colorbox.css" media="all">
        <link rel="stylesheet" type="text/css" href="/app/css/common/list.css" media="all">
    {% endblock %}
{% block body -%}
    <div class="row">
        <div class="span12">
            <h2>Vehicles' details</h2>

            <table class="records_list">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle</th>
                    <th>Reg. No.</th>
                    <th>Category</th>
                    <th>Passengers</th>
                    <th>Date added</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('vehicle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.make }} {{ entity.model }}</td>
                        <td>{{ entity.regno }}</td>
                        <td>{{ entity.vtype.name }}</td>
                        <td>{{ entity.passengers }}</td>
                        <td>{% if entity.wasadded %}{{ entity.wasadded|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('vehicle_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('vehicle_new') }}" class="iframe">
                        Create a new entry
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/colorbox/jquery.colorbox-min.js"></script>
    <script>
        //        $('.iframe').colorbox({width: "70%", height: "100%", iframe: true});
    </script>
{% endblock %}
