{% extends '::admin-ui.html.twig' %}

{% block body -%}
    <h2>Add a Vehicle to list</h2>
    <br/><br/>

    <form class="form-horizontal" novalidate action="{{ path('vehicle_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        <!-- form fields -->
        <div class="row">
            <div class="span12">
                <!-- Text input-->
                <div class="control-group">

                    {{ form_row(form.make, {'label' : 'Make: '}) }}
                </div>
                {{ form_row(form.model, {'label' : 'Model: '}) }}
                {{ form_row(form.reg_no, {'label' : 'Registration No.: '}) }}
                {{ form_row(form.vtype, {'label' : 'Vehicle Type: '}) }}
                {{ form_row(form.passengers, {'label' : 'No of passengers: '}) }}
                {{ form_row(form.is_company_owned, {'label' : 'Owned by the company: '}) }}
                {{ form_row(form.ac, {'label' : 'Air conditioned: '}) }}
                {{ form_row(form.image, {'label' : 'Upload a photo: '}) }}
                {{ form_row(form.remarks, {'label' : 'Other details (Optional): '}) }}

            </div>
        </div>

        <!--/ form fields -->
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('vehicle') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
