{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% block title %}
    {{ parent() }} - New vehicle
{% endblock %}

{% set closeBtn_url = path('vehicle') %}
{% block form %}
    <form id="newVehicle_form" class="appnitro form-horizontal" action="{{ path('vehicle_create') }}"
          method="post" {{ form_enctype(form) }} novalidate>
        <div class="form_description">
            <h2>Add new vehicle</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        <div class="control-group">
            <label class="control-label">Make
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.make) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Model
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.model) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Reg. no
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.reg_no) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Vehicle type
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.vtype) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">No. of passengers
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {% set attr = {'min': '1', 'max': '50'} %}
                {{ form_row(form.passengers, {'attr': attr}) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Owned by the company</label>

            <div class="controls">
                {{ form_row(form.is_company_owned) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Air-conditioned</label>

            <div class="controls">
                {{ form_row(form.ac) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Upload a photo</label>

            <div class="controls">
                {{ form_row(form.image) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Other details</label>

            <div class="controls">
                {{ form_row(form.remarks) }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input name="submit" class="btn btn-success" type="submit" value="Add"/>
            </div>
        </div>
        <!--/ form fields -->
    </form>
{% endblock %}