{% extends '::admin-ui.html.twig' %}

{% block body -%}
    <h3>Vehicle details</h3>
    <br/>
    <div id="v-photo">
        <img src="/uploads/images/vehicles/{{ entity.image }}" width="400" height="300"/>
    </div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Make</th>
                <td>{{ entity.make }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>Reg No.</th>
                <td>{{ entity.regno }}</td>
            </tr>
            <tr>
                <th>Passengers</th>
                <td>{{ entity.passengers }}</td>
            </tr>
            <tr>
                <th>Air-Conditioned</th>
                <td>{{ entity.ac }}</td>
            </tr>
            <tr>
                <th>Owned by company</th>
                <td>{{ entity.iscompanyowned }}</td>
            </tr>
            <tr>
                <th>Photo file</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Other details</th>
                <td>{{ entity.remarks }}</td>
            </tr>
            <tr>
                <th>Date added</th>
                <td>{{ entity.wasadded|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('vehicle_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
        <li>
            <a href="{{ path('vehicle') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
