{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Vehicle</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Make</th>
                <td>{{ entity.make }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>Reg_no</th>
                <td>{{ entity.regno }}</td>
            </tr>
            <tr>
                <th>Passengers</th>
                <td>{{ entity.passengers }}</td>
            </tr>
            <tr>
                <th>Ac</th>
                <td>{{ entity.ac }}</td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>{{ entity.remarks }}</td>
            </tr>
            <tr>
                <th>Company_owned</th>
                <td>{{ entity.companyowned }}</td>
            </tr>
            <tr>
                <th>Added</th>
                <td>{{ entity.added|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('vehicle') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('vehicle_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('vehicle_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
