{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% block title %}
    {{ parent() }} - Create User
{% endblock %}

{% set closeBtn_url = path('user_index') %}
{% block content %}
    <form action="{{ path('user_create') }}" class="appnitro form-horizontal"
          method="post" {{ form_enctype(form) }} novalidate>
        <div class="form_description">
            <h2>New User</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        <div class="control-group">
            <label class="control-label">First name
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.first_name) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last name
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.last_name) }}
            </div>
        </div>
        <br/>
        <div class="control-group">
            <label class="control-label">Username
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.username) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Confirm Password
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                <input type="text" required="required"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input name="submit" class="btn btn-success" type="submit" value="Create"/>
            </div>
        </div>
    </form>
{% endblock %}
