<p>Dear {{ entity.request.requester.name }},</p>
<p></p>
<p></p>
<p>
    Your vehicle request with the reference no. #{{ entity.request.id }} has been approved.

{% if entity.vehicle is not null %}
    Your assigned vehicle is {{ entity.vehicle.regno }}. Your assigned driver is Mr. {{ entity.driver.displayname }}.
{% else %}
    A rented vehicle has been approved for your journey.
{% endif %}
    To view details about your request please click on the link below.</p>
<p>
    <a href="{{ url('request_details', {'code': code}) }}">show details</a>
</p>
<br/>
<p>Best Regards,</p>
<p>Support Team</p>
