{% extends '::admin.html.twig' %}

{% block body -%}
    <h2>Requests' details</h2><br/>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="requests_list">
        <thead>
        <tr>
            <th>Req ID</th>
            <th>Requester</th>
            <th>Requested vehicle</th>
            <th>Requested Date/Time</th>
            <th>Pickup Location</th>
            <th>Destination</th>
            <th>Return Time</th>
            <th>Vehicle Type</th>
            <th>Purpose</th>
            <th>Others travelling</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity['request'].id }}</td>
                <td>{{ entity['owner'].name }}</td>
                <td>{{ entity['request'].journeytype }}</td>
                <td>{% if entity['request'].pickuptime %}{{ entity['request'].pickuptime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity['request'].pickuploc }}</td>
                <td>{{ entity['request'].destination }}</td>
                <td>{% if entity['request'].returntime %}{{ entity['request'].returntime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity['request'].vtype.getname }}</td>
                <td>{{ entity['request'].purpose }}</td>
                <td>
                    {% if entity['otherPassengers']|length > 0 %}
                        {% for passenger in entity['otherPassengers'] %}
                            <li>{{ passenger.name|e }}</li>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{% if entity['request'].createdat %}{{ entity['request'].createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('requestdata_show', { 'id': entity['request'].id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('request_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}