{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% set closeBtn_url = path('request_list') %}
{% block form %}
    <form class="appnitro form-horizontal" action="{{ path('disapprove_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <div class="form_description">
            <h2>Disapprove request</h2><br/>
        </div>
        <div id="req_info" style="padding:10px; border: solid 0.5px">
            {% render controller('Panda86AppBundle:Request:show', { 'id': req_id, 'embed': true }) %}
        </div>
        <br/>
        {# hidden field for the request id #}
        <div id="req_field">
            {{ form_row(form.request, {'attr': {'value': req_id} }) }}
        </div>
        <div class="control-group">
            <label class="control-label">Remarks</label>

            <div class="controls">
                {{ form_row(form.remarks) }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="disapprove_btn" class="btn btn-danger" type="submit" formnovalidate="">Disapprove</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/app/js/disapprove/new.js"></script>
{% endblock %}
