{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% set closeBtn_url = path('request_list') %}
{% block form %}
    <form id="approve_form" class="appnitro form-horizontal" action="{{ path('approve_create') }}"
          method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        <div class="form_description">
            <h2>Approve request</h2><br/>
        </div>
        <div id="req_info" style="padding:10px; border: solid 0.5px">
            {% render controller('Panda86AppBundle:Request:show', { 'id': req_id, 'embed': true }) %}
        </div>
        <br/>

        <div id="req_id_field" style="display: none">
            <div class="control-group">
                <label class="control-label">Req ID
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    {{ form_row(form.request) }}
                </div>
            </div>
        </div>

        <p>Assign vehicle
            <span class="form-required" title="This field is required.">*</span>
        </p>
        <div class="control-group">
            <label class="control-label" for="vehicle_company">Company vehicle</label>
            <div class="controls">
                <input id="vehicle_company" name="assign_vehicle" class="assign_vehicle radio" type="radio"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="vehicle_cab">Cab</label>
            <div class="controls">
                <input id="vehicle_cab" name="assign_vehicle" class="assign_vehicle radio" type="radio"/>
            </div>
        </div>

        <div id="div_company_vehicle" style="border:solid 1px black">
            <p>Company vehicle info</p>
            <div class="control-group">
                <label class="control-label">Vehicle
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    {% set attr = {'class': '', 'required': 'required'} %}
                    {{ form_row(form.vehicle, {'attr': attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Assign driver
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    {% set attr = {'class': '', 'required': 'required'} %}
                    {{ form_row(form.driver, {'attr': attr}) }}
                </div>
            </div>
        </div>
        <div id="div_cab_service" style="border:solid 1px black">
            <p>Cab  service info</p>
            <div class="control-group">
                <label class="control-label">Cab service
                    <span class="form-required" title="This field is required.">*</span>
                </label>

                <div class="controls">
                    {% set attr = {'class': '', 'required': 'required'} %}
                    {{ form_row(form.cab_service, {'attr': attr}) }}
                </div>
                <div class="control-group">
                    <label class="control-label">Cab info:</label>

                    <div class="controls">
                        {{ form_row(form.cab) }}
                    </div>
                </div>

            </div>
        </div>
        <br/>
        <div class="control-group">
            <label class="control-label">Remarks</label>

            <div class="controls">
                {{ form_row(form.remarks) }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input id="approve_btn" class="btn btn-success" type="submit" value="Approve"/>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/app/js/approve/new.js"></script>
{% endblock %}