{% extends '::admin-app.html.twig' %}

{% block body -%}
    <h1>Approve Request</h1>

    <form class="appnitro form-horizontal" novalidate action="{{ path('approve_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <div class="control-group">
            <label class="control-label">Req ID
                <span class="form-required" title="This field is required.">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.request) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Vehicle
                <span class="form-required" title="This field is required.">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.vehicle) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Driver
                <span class="form-required" title="This field is required.">*</span>
            </label>

            <div class="controls">
                {{ form_row(form.driver) }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success" type="submit" formnovalidate="">Approve</button>
            </div>
        </div>
    </form>
{% endblock %}
