{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% block title %}
    {{ parent() }} - Approve request #{{ req_id }}
{% endblock %}

{% set closeBtn_url = path('request_list') %}
{% block form %}
    <form id="approve_form" class="appnitro form-horizontal" action="{{ path('approve_create') }}"
          method="post" {{ form_enctype(form) }} novalidate>
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        <div class="form_description">
            <h2>Approve request #{{ req_id }}</h2><br/>
        </div>
        <div id="req_info" style="padding:10px; border: solid 0.5px #c3c3c3">
            {% render controller('Panda86AppBundle:Request:show', { 'id': req_id, 'embed': true }) %}
        </div>
        <br/>
        {# hidden field for the request id #}
        <div id="req_field">
            {{ form_row(form.request, {'attr': {'value': req_id} }) }}
        </div>

        <p>Assign vehicle
            <span class="f-required">*</span>
        </p>
        <div class="control-group">
            <label class="control-label" for="vehicle_company">Company vehicle</label>
            <div class="controls">
                <input id="vehicle_company" name="assign_vehicle" class="assign_vehicle radio" type="radio"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="vehicle_cab">Cab</label>
            <div class="controls">
                <input id="vehicle_cab" name="assign_vehicle" class="assign_vehicle radio" type="radio"/>
            </div>
        </div>

        <div id="div_company_vehicle" style="border:solid 1px #c3c3c3">
            <p>Company vehicle info</p>
            <div class="control-group">
                <label class="control-label">Vehicle
                    <span class="f-required">*</span>
                </label>

                <div class="controls">
                    {% set attr = {'class': '', 'required': 'required'} %}
                    {{ form_row(form.vehicle, {'attr': attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Assign driver
                    <span class="f-required">*</span>
                </label>

                <div class="controls">
                    {% set attr = {'class': '', 'required': 'required'} %}
                    {{ form_row(form.driver, {'attr': attr}) }}
                </div>
            </div>
        </div>
        <div id="div_cab_service" style="border:solid 1px #c3c3c3">
            <p>Cab info</p>
            
            <div class="control-group">
                <label class='control-label'>Cab Service
                    <span class='f-required'>*</span>
                </label>

                <div class="controls">
                    {% set attr = {} %}
                    {{ form_row(form.cab.cab_service, {'attr' : attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Voucher no.</label>

                <div class="controls">
                    {% set attr = {} %}
                    {{ form_row(form.cab.voucher_no, {'attr' : attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Mileage (km.)</label>

                <div class="controls">
                    {% set attr = {'ng-model': 'mileage', 'ng-change': 'calculate()'} %}
                    {{ form_row(form.cab.mileage, {'attr' : attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Rate (Rs. per 1 km.)</label>

                <div class="controls">
                    {% set attr = {'ng-model': 'rate', 'ng-change': 'calculate()'} %}
                    {{ form_row(form.cab.rate, {'attr' : attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Total cost (Rs.)
                    <span class='f-required'>*</span>
                </label>

                <div class="controls">
                    {% set attr = {'ng-model': 'total_cost'} %}
                    {{ form_row(form.cab.cost, {'attr' : attr}) }}
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Other info</label>

                <div class="controls">
                    {{ form_row(form.cab.other_info) }}
                </div>
            </div>
        </div>
        <br/>
        <div class="control-group">
            <label class="control-label">Remarks</label>

            <div class="controls">
                {{ form_row(form.remarks) }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input id="approve_btn" class="btn btn-success" type="submit" value="Approve"/>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/app/js/approve/new.js"></script>
    <script src="/app/js/approve/formController.js"></script>
{% endblock %}