{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% block title %}
    {{ parent() }} - Edit driver details
{% endblock %}
{% set closeBtn_url = path('driver') %}
{% block form %}
    <form class="appnitro form-horizontal" action="{{ path('driver_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
        <input type="hidden" name="_method" value="PUT"/>
        <div class="form_description">
            <h2>Edit driver's info</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(edit_form) }}
        {{ form_widget(edit_form._token) }}

        <!-- form fields -->
        <div class="control-group">
            <label class="control-label">First name
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {% set attr = {'ng-model':'first_name', 'ng-change' : 'addNames()'} %}
                {{ form_row(edit_form.first_name, {'attr': attr}) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last name
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {% set attr = {'ng-model':'last_name', 'ng-change' : 'addNames()'} %}
                {{ form_row(edit_form.last_name, {'attr': attr}) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Display name
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {% set attr = {'ng-model':'display_name'} %}
                {{ form_row(edit_form.display_name, {'attr': attr}) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Address
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(edit_form.address) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Birth date
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(edit_form.birth_date) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">License date
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(edit_form.license_date) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">License Ref. no.
                <span class="f-required">*</span>
            </label>

            <div class="controls">
                {{ form_row(edit_form.license_ref) }}
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="span2" style="text-align:center">
                <input name="submit" class="btn btn-success" type="submit" value="Save"/>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="span2" style="text-align:center">
            <form action="{{ path('driver_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button id="del_entry" class="btn btn-danger" type="submit">Remove</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/app/js/driver/formController.js"></script>
{% endblock %}