{% extends 'Panda86AppBundle::list-view.html.twig' %}

{% block title %}
    {{ parent() }} - List of drivers
{% endblock %}
{% set heading = 'List of drivers' %}
{% set newBtn_url = path('driver_new') %}

{% block table %}
<div class="span6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Driver</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.displayname }}</td>
                <td>
                    <a href="{{ path('driver_show', { 'id': entity.id }) }}">Profile</a> |
                    <a href="{{ path('driver_edit', { 'id': entity.id }) }}">Edit / Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ parent() }}
</div>
{% endblock %}
