{% extends 'Panda86AppBundle::create-view.html.twig' %}

{% set closeBtn_url = path('driver') %}
{% block form %}
    <form action="{{ path('driver_create') }}" class="appnitro form-horizontal"
          method="post" {{ form_enctype(form) }}>
        <div class="form_description">
            <h2>Add new driver</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        <div class="control-group">
            <label class="control-label">First name</label>

            <div class="controls">
                {{ form_row(form.first_name) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last name</label>

            <div class="controls">
                {{ form_row(form.last_name) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Display name</label>

            <div class="controls">
                {{ form_row(form.display_name) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Address</label>

            <div class="controls">
                {{ form_row(form.address) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Birth date</label>

            <div class="controls">
                {{ form_row(form.birth_date) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">License date</label>

            <div class="controls">
                {{ form_row(form.license_date) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">License Ref. no.</label>

            <div class="controls">
                {{ form_row(form.license_ref) }}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" formnovalidate="">Add</button>
            </div>
        </div>
    </form>
{% endblock %}
