{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="span"].centred {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    </style>
    <link rel="stylesheet" href="/public/css/smoothness/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/chosen/chosen.css">
    <link rel="stylesheet" href="/public/css/request/new.css">
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="span9 centred">

            <img id="top" src="/public/css/request/top.png" alt="">

            <div id="form_container">
                <h1>Header</h1>

                <form action="{{ path('driver_create') }}" class="appnitro form-horizontal"
                      method="post" {{ form_enctype(form) }}>
                    <div class="form_description">
                        <h2>Add new driver</h2><br/>
                    </div>
                    <!-- form validation -->
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}

                    <!-- form fields -->
                    <div class="control-group">
                        <label class="control-label">First name</label>

                        <div class="controls">
                            {{ form_row(form.first_name) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Last name</label>

                        <div class="controls">
                            {{ form_row(form.last_name) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Display name</label>

                        <div class="controls">
                            {{ form_row(form.display_name) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Address</label>

                        <div class="controls">
                            {{ form_row(form.address) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Birth date</label>

                        <div class="controls">
                            {{ form_row(form.birth_date) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">License date</label>

                        <div class="controls">
                            {{ form_row(form.license_date) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">License Ref. no.</label>

                        <div class="controls">
                            {{ form_row(form.license_ref) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" formnovalidate="">Add</button>
                        </div>
                    </div>
                </form>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('driver') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
                <div id="footer">
                    <a href="http://www.icta.lk">ICTA | &copy 2013</a>
                </div>
            </div>
            <img id="bottom" src="/public/css/request/bottom.png" alt="">
        </div>
    </div>

{% endblock %}
