{% extends '::admin-app.html.twig' %}

{% block body -%}
    <h1>Driver</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Display_name</th>
                <td>{{ entity.displayname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ entity.birthdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>License_date</th>
                <td>{{ entity.licensedate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>License_ref</th>
                <td>{{ entity.licenseref }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('driver') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('driver_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('driver_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
