{% extends 'Panda86AppBundle::details-view.html.twig' %}

{% block title %}
    {{ parent() }} - Driver details
{% endblock %}

{% set closeBtn_url = path('driver') %}
{% block table %}
    <table class="record_properties table table-striped">
        <div class="form_description">
            <h2>Driver details - {{ entity.displayname }}</h2>
        </div>
        <div id="driver-photo">
            {% if entity.image is not null %}
                <img src="{{ entity.image }}" width="150" class="img-polaroid"/>
            {% else %}
                <img src="/app/img/driver-placeholder.gif" width="150" class="img-polaroid"/>
            {% endif %}
        </div>
        <br/>
        <tbody>
        <tr>
            <th>First name</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Display name</th>
            <td>{{ entity.displayname }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Birth date</th>
            <td>{{ entity.birthdate|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>License date</th>
            <td>{{ entity.licensedate|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>License ref</th>
            <td>{{ entity.licenseref }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
