{% extends 'Panda86AppBundle::edit-view.html.twig' %}

{% set closeBtn_url = path('vtype') %}
{% block form %}
    <form action="{{ path('vtype_update', { 'id': entity.id }) }}" class="appnitro form-horizontal"
          method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT"/>

        <div class="form_description">
            <h2>Edit category</h2><br/>
        </div>
        {{ form_widget(edit_form) }}
        <br/>
        <div class="row">
            <div class="span2" style="text-align:center">
                <button class="btn btn-success" type="submit" formnovalidate="">Save</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="span2" style="text-align:center">
            <form action="{{ path('vtype_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button id="del_entry" class="btn btn-danger" type="submit">Remove</button>
            </form>
        </div>
    </div>
{% endblock %}
