{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Driver list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Address</th>
                <th>Dob</th>
                <th>License_date</th>
                <th>License_ref</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('driver_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.dob }}</td>
                <td>{{ entity.licensedate }}</td>
                <td>{{ entity.licenseref }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('driver_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
