<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
    <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
        <Author>panda</Author>
        <LastAuthor>panda</LastAuthor>
        <LastPrinted>2013-09-03T08:50:13Z</LastPrinted>
        <Created>2013-09-03T08:33:15Z</Created>
        <Version>14.00</Version>
    </DocumentProperties>
    <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
        <AllowPNG/>
    </OfficeDocumentSettings>
    <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
        <WindowHeight>11055</WindowHeight>
        <WindowWidth>18195</WindowWidth>
        <WindowTopX>120</WindowTopX>
        <WindowTopY>120</WindowTopY>
        <ProtectStructure>False</ProtectStructure>
        <ProtectWindows>False</ProtectWindows>
    </ExcelWorkbook>
    <Styles>
        <Style ss:ID="Default" ss:Name="Normal">
            <Alignment ss:Vertical="Bottom"/>
            <Borders/>
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
            <Interior/>
            <NumberFormat/>
            <Protection/>
        </Style>
        <Style ss:ID="s62">
            <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"
            ss:Bold="1"/>
        </Style>
        <Style ss:ID="s119">
            <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
            ss:Bold="1"/>
            <Interior ss:Color="#538DD5" ss:Pattern="Solid"/>
        </Style>
        <Style ss:ID="s120">
            <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
            <Interior/>
        </Style>
        <Style ss:ID="s121">
            <Borders/>
            <Interior/>
        </Style>
    </Styles>
    <Worksheet ss:Name="Sheet1">
        <Table ss:ExpandedColumnCount="8" x:FullColumns="1"
               x:FullRows="1" ss:DefaultRowHeight="15">
            <Column ss:AutoFitWidth="0" ss:Width="66"/>
            <Column ss:AutoFitWidth="0" ss:Width="115.5"/>
            <Column ss:AutoFitWidth="0" ss:Width="106.5"/>
            <Column ss:AutoFitWidth="0" ss:Width="87"/>
            <Column ss:AutoFitWidth="0" ss:Width="69.75"/>
            <Column ss:AutoFitWidth="0" ss:Width="76.5"/>
            <Column ss:AutoFitWidth="0" ss:Width="69"/>
            <Row>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s62"/>
            </Row>
            <Row>
                <Cell ss:StyleID="s121"><Data ss:Type="String">Vehicle reservation requests</Data></Cell>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
            </Row>
            <Row>
                <Cell ss:StyleID="s121"><Data ss:Type="String">ICTA 2013</Data></Cell>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
            </Row>
            <Row>
                <Cell ss:StyleID="s121"><Data ss:Type="String">Generated report</Data></Cell>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
            </Row>
            <Row>
                <Cell ss:StyleID="s121"><Data ss:Type="String">
                	<!-- Report Date/Time : {{ report_time|date('Y-m-d \\- g:i a') }} -->
                </Data></Cell>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
                <Cell ss:StyleID="s121"/>
            </Row>
            <Row ss:Index="8">
                <Cell ss:StyleID="s119"><Data ss:Type="String">Request ID #</Data></Cell>
                <Cell ss:StyleID="s119"><Data ss:Type="String">Requester name</Data></Cell>
                <Cell ss:StyleID="s119"><Data ss:Type="String">Cab service name</Data></Cell>
                <Cell ss:StyleID="s119"><Data ss:Type="String">Cab voucher no.</Data></Cell>
                <Cell ss:StyleID="s119"><Data ss:Type="String">Mileage (km)</Data></Cell>
                <Cell ss:StyleID="s119"><Data ss:Type="String">Rate</Data></Cell>
                <Cell ss:StyleID="s119"><Data ss:Type="String">Cost (Rs.)</Data></Cell>
            </Row>
            <!-- {% for entity in entities %} -->
            <Row>
                <Cell ss:StyleID="s120"><Data ss:Type="Number">{{ entity.getrequest.getid }}</Data></Cell>
                <Cell ss:StyleID="s120"><Data ss:Type="String">{{ entity.getrequest.getrequester.getname }}</Data></Cell>
                <Cell ss:StyleID="s120"><Data ss:Type="String">{{ entity.getcab.getcabservice.getname }}</Data></Cell>
                <Cell ss:StyleID="s120"><Data ss:Type="String">{{ entity.getcab.getvoucherno }}</Data></Cell>
                <Cell ss:StyleID="s120"><Data ss:Type="Number">{{ entity.getcab.getmileage }}</Data></Cell>
                <Cell ss:StyleID="s120"><Data ss:Type="Number">{{ entity.getcab.getrate }}</Data></Cell>
                <Cell ss:StyleID="s120"><Data ss:Type="Number">{{ entity.getcab.getcost }}</Data></Cell>
            </Row>
            <!-- {% endfor %} -->
        </Table>
        <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
            <PageSetup>
                <Header x:Margin="0.3"/>
                <Footer x:Margin="0.3"/>
                <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
                <Layout x:Orientation="Landscape"/>
            </PageSetup>
            <Print>
                <ValidPrinterInfo/>
                <HorizontalResolution>600</HorizontalResolution>
                <VerticalResolution>600</VerticalResolution>
            </Print>
            <Selected/>
            <Panes>
                <Pane>
                    <Number>3</Number>
                    <ActiveRow>3</ActiveRow>
                    <ActiveCol>1</ActiveCol>
                </Pane>
            </Panes>
            <ProtectObjects>False</ProtectObjects>
            <ProtectScenarios>False</ProtectScenarios>
        </WorksheetOptions>
    </Worksheet>
</Workbook>