{% extends '::admin-app.html.twig' %}

{% block title %}
    {{ parent() }} - Reports
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/app/css/report/custom.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3>Reports page</h3>
    </div>
</div>
<br/>
<div class="row">
    <div class="span12">
        <form class="form-horizontal" action="{{ path('report_generate', {'type': 'cabs'}) }}" method="get">
            <fieldset>

                <!-- Form Name -->
                <legend>Set parameters</legend>

                <!--Options-->
                <div class="control-group">
                    <label class="control-label" for="options">Options :</label>
                    <div class="controls">
                        <label class="radio" for="options-0">
                            <input name="options" id="options-0" value="All employees" checked="checked" type="radio">
                            All employees
                        </label>
                        <label class="radio" for="options-1">
                            <input disabled name="options" id="options-1" value="per employee" type="radio">
                            per employee
                        </label>
                    </div>
                </div>

                <!--Filter by content-->
                <div class="control-group">
                    <label class="control-label" for="filters">Filters :</label>
                    <div class="controls">
                        <label class="checkbox" for="filters-0">
                            <input checked name="filters" id="filters-0" value="Cost for cabs" type="checkbox">
                            Cost for cabs
                        </label>
                        <label class="checkbox" for="filters-1">
                            <input name="filters" id="filters-1" value="Cost for accomodations" type="checkbox">
                            Cost for accomodations
                        </label>
                    </div>
                </div>
                <!--Filter by dates -->
                <div id="filter_dates">
                    <!-- Date from-->
                    <div class="control-group">
                        <label class="control-label" for="date_from">From</label>
                        <div class="report-datepicker controls">
                            <div class="input-append">
                                <input id="date_from" name="date_from" class="input-small" data-format="yyyy-MM-dd" placeholder="--" type="text">
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                    <!-- Date to-->
                    <div class="control-group">
                        <label class="control-label" for="date_to">Until</label>
                        <div class="report-datepicker controls">
                            <div class="input-append">
                                <input id="date_to" name="date_to" class="input-small" data-format="yyyy-MM-dd" placeholder="--" type="text">
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="controls">
                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Generate report</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<br/><hr/>
<div class="row">
    <div class="span12">
        <p>Query results:</p>
        <div id="results">
            {% if results is not null %}
                <table>
                    {% for row in results %}
                        <tr>
                            <td>
                                {{ row.getcab.getcabservice.getname }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/jquery.validate.js"></script>
    <script src="/app/js/report/index.js"></script>
{% endblock %}