{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/DataTables/dataTables.css">
    <link rel="stylesheet" type="text/css" href="/assets/colorbox/colorbox.css" media="all">
    <link rel="stylesheet" type="text/css" href="/app/css/request/list.css" media="all">
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="span12">
            <h2>Requests index</h2><br/>

            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="requests_list">
                <thead>
                <tr>
                    <th>Req ID</th>
                    <th>Requester</th>
                    <th>Requested vehicle</th>
                    <th>Requested Date/Time</th>
                    <th>Purpose of travel</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity['request'].id }}</td>
                        <td>{{ entity['owner'].name }}</td>
                        <td>{{ entity['request'].vtype.name }}</td>
                        <td>{% if entity['request'].pickuptime %}{{ entity['request'].pickuptime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity['request'].purpose }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('request_show', { 'id': entity['request'].id }) }}">show</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('request_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/DataTables/dataTables.js"></script>
    <script type="text/javascript" src="/assets/DataTables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/assets/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/app/js/request/list.js"></script>
{% endblock %}