{% extends '::employee.html.twig' %}

{% block title %}New request for vehicle - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/smoothness/jquery-ui-1.10.3.custom.min.css">
{% endblock %}

{% block body -%}
    <h1>Request for a vehicle</h1>
    {% form_theme form 'Panda86AppBundle:Form:form_datetimepicker_type.html.twig' %}
    <form action="{{ path('request_create') }}" method="post" {{ form_enctype(form) }}>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        {{ form_row(form.requested_for, {'label' : 'Requested For: '}) }}
        {{ form_row(form.journey_type, {'label' : 'Journey Type: '}) }}
        <div id='single_journey'>
            {{ form_row(form.start_time, {'label' : 'Start Date/Time: '}) }}
            {{ form_row(form.start_loc, {'label' : 'Start Location: '}) }}
        </div>
        <div id='return_journey'>
            {{ form_row(form.pickup_time, {'label' : 'Pickup Date/Time: '}) }}
            {{ form_row(form.pickup_loc, {'label' : 'Pickup Location: '}) }}
        </div>
        <div id='journey_end'>
            {{ form_row(form.end_time, {'label' : 'End Date/Time: '}) }}
            {{ form_row(form.end_loc, {'label' : 'End Location: '}) }}
        </div>
         {{ form_row(form.vehicle_type, {'label' : 'Vehicle Type: '}) }}
         {{ form_row(form.purpose, {'label' : 'Purpose of Journey: '}) }}
         {{ form_row(form.accompanied_by, {'label' : 'Accompanied Officers: '}) }}

        <!--/form fields-->
        <p>
            <button type="submit" formnovalidate="">Send Request</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('request_finish') }}">
            Cancel
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/public/js/jquery-ui.js"></script>
    <script src="/public/js/reqForm.js"></script>
{% endblock %}
