{% extends 'Panda86AppBundle::request-create-view.html.twig' %}

{% set closeBtn_url = path('request_finish', {'mode' : 'cancel'}) %}
{% block form %}
    {% form_theme form 'Panda86AppBundle:Form:form_datetimepicker_type.html.twig' %}
    <form id='newReq_form' class='appnitro form-horizontal' action='{{ path('request_create') }}'
          method='post' {{ form_enctype(form) }}>
        <div class='form_description'>
            <h2>New vehicle reservation request</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        {{ form_row(form.days) }}

        <div class='control-group'>
            <label class='control-label'>Requester name
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {% set attr = { 'class': 'input-xlarge show-tooltip chzn-select', 'data-placeholder': 'Name of requester', 'tabindex':'-1'} %}
                {% set tooltip = {'title': 'Person who requests the vehicle', 'data-toggle': 'tooltip', 'data-placement': 'right'} %}
                {% set attr = attr|merge(tooltip) %}
                {{ form_widget(form.requester, {'attr': attr }) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Journey type
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {{ form_row(form.journey_type, {'attr': {'class': 'radio'} }) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Vehicle type
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {% set attr = {'class': 'input-xlarge show-tooltip'} %}
                {% set tooltip = {'title': 'Vehicle you like to request', 'data-toggle': 'tooltip', 'data-placement': 'right'} %}
                {% set attr = attr|merge(tooltip) %}
                {{ form_row(form.vtype, {'attr': attr }) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Pickup location
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                    {% set attr = {'class': 'input-xlarge'} %}
                    {{ form_row(form.pickup_loc, {'attr': attr}) }}
                </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Destination
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                    {% set attr = {'class': 'input-xlarge'} %}
                    {{ form_row(form.destination, {'attr': attr}) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Pickup date/time
                <span class='f-required'>*</span>
            </label>
            {{ form_row(form.pickup_time) }}
        </div>
        <div id='return_journey'>
            <div class='control-group'>
                <label class='control-label'>Return date/time
                    <span class='f-required'>*</span>
                </label>
                    {{ form_widget(form.return_time) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Purpose of journey
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {% set attr = {'class': 'input-xlarge show-tooltip', 'required': 'required', 'title': 'Reason for this journey', 'data-toggle': 'tooltip', 'data-placement': 'right'} %}
                {{ form_row(form.purpose, {'attr': attr }) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Others travelling in vehicle</label>

            <div class='controls'>
                {% set attr = {'class': 'input-xlarge chzn-select', 'data-placeholder': 'Names of staff members', 'tabindex':'-1'} %}
                {{ form_widget(form.accompanied_by, {'attr': attr } ) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Need accomodation
            </label>
            <div class='controls'>
                <input id="need_accomodation" type='checkbox' class='show-tooltip' title='Request accomodation fees' data-toggle='tooltip' data-placement='right'/>
            </div>
        </div>
        <div id='request_accomodation' style="display: none; border: solid 1px #c3c3c3">
            <p>Accomodation info</p>
            <div class="control-group">
                <div class="control-group">

                    <div class="controls">
                        {{ form_row(form.accomodation) }}
                    </div>
                </div>

            </div>
        </div>
        <br/>
        <div class='control-group'>
            <label class='control-label'>Additional info
            </label>

            <div class='controls'>
                {% set attr = {'class': 'span5 expand show-tooltip', 'placeholder' : '...any further infomation about the journey'} %}
                {% set tooltip = {'title': '(Optional field)', 'data-toggle': 'tooltip', 'data-placement': 'right'} %}
                {% set attr = attr|merge(tooltip) %}
                {{ form_row(form.more_info, { 'attr': attr}) }}
            </div>
        </div>

        <div class='control-group'>
            <div class='controls'>
                <input class='btn btn-success' type='submit' value='Send Request'>
            </div>
        </div>
        <!--/form fields-->
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/assets/chosen/chosen.jquery.min.js"></script>
    <script src="/assets/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/jquery.validate.js"></script>
    <script src="/app/js/request/newInit.js"></script>
    <script src="/app/js/request/new.js"></script>
{% endblock %}