{% extends 'Panda86AppBundle::request-create-view.html.twig' %}

{% set closeBtn_url = path('request_finish', {'mode' : 'cancel'}) %}
{% block form %}
    {% form_theme form 'Panda86AppBundle:Form:form_datetimepicker_type.html.twig' %}
    <form id='newReq_form' class='appnitro form-horizontal' action='{{ path('request_create') }}'
          method='post' {{ form_enctype(form) }}>
        <div class='form_description'>
            <h2>New vehicle reservation request</h2><br/>
        </div>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        {{ form_row(form.days) }}

        <div class='control-group'>
            <label class='control-label'>Requester name
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {% set attr = {'title': 'Person who requests the vehicle', 'data-toggle': 'tooltip', 'data-placement': 'right', 'class': 'show-tooltip chzn-select', 'data-placeholder': 'Name of requester', 'tabindex':'-1'} %}
                {{ form_widget(form.requester, {'attr': attr } ) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Journey type
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {{ form_row(form.journey_type, {'attr': {'class': 'radio'} }) }}
            </div>
        </div>

        <div class='control-group'>
            <label class='control-label'>Pickup location
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                    {{ form_row(form.pickup_loc) }}
                </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Destination
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                    {{ form_row(form.destination) }}
                </div>
        </div>
        <div class='control-group'>
                {{ form_row(form.pickup_time) }}
        </div>
        <div id='return_journey'>
            <div class='control-group'>
                <label class='control-label'>Return time
                    <span class='f-required'>*</span>
                </label>

                <div class='req-timepicker controls'>
                    <div class='input-append'>
                        {{ form_widget(form.return_time, {'attr': {'class': 'input-medium', 'placeholder' : '24 hours e.g. hh:mm', 'data-format':'hh:mm', 'type':'text' } } ) }}
                        <span class='add-on'>
                            <i data-time-icon='icon-time' data-date-icon='icon-calendar'></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Vehicle type
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {{ form_row(form.vtype) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Purpose of journey
                <span class='f-required'>*</span>
            </label>

            <div class='controls'>
                {% set attr = {'class': 'show-tooltip', 'required': 'required', 'title': 'Reason for this journey', 'data-toggle': 'tooltip', 'data-placement': 'right'} %}
                {{ form_row(form.purpose, {'attr': attr }) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Event start time</label>

            <div class='req-timepicker controls'>
                <div class='input-append'>
                    {% set attr = {'class': 'input-medium show-tooltip', 'placeholder' : '24 hours e.g. hh:mm', 'data-format':'hh:mm', 'type':'text' , 'title': 'Only if you are attending an event', 'data-toggle': 'tooltip', 'data-placement': 'right'} %}
                    {{ form_widget(form.start_time, {'attr': attr } ) }}
                    <span class='add-on'>
                            <i data-time-icon='icon-time' data-date-icon='icon-calendar'></i>
                    </span>
                </div>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Others travelling in vehicle</label>

            <div class='controls'>
                {{ form_widget(form.accompanied_by, {'attr': {'class': 'chzn-select', 'data-placeholder': 'Names of staff members', 'tabindex':'-1'} } ) }}
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>Additional info
            </label>

            <div class='controls'>
                <textarea></textarea>
            </div>
        </div>

        <div class='control-group'>
            <div class='controls'>
                <input class='btn btn-success' type='submit' value='Send Request'>
            </div>
        </div>
        <!--/form fields-->
    </form>
{% endblock %}