{% extends '::employee.html.twig' %}

{% block title %}New request for vehicle - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/smoothness/jquery-ui-1.10.3.custom.min.css">
{% endblock %}

{% block body -%}
    <h1>Request for a vehicle</h1>

    {% form_theme form 'Panda86AppBundle:Form:form_datetimepicker_type.html.twig' %}

    <form action="{{ path('request_create') }}" method="post" {{ form_enctype(form) }}>
        <!-- form validation -->
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        <!-- form fields -->
        {{ form_row(form.journey_type, {'label' : 'Journey Type: '}) }}
        <div id='single_journey'>
            {{ form_row(form.days, {'label' : 'No. of Days: '}) }}
            {{ form_row(form.pickup_loc, {'label' : 'Pickup Location: '}) }}
            {{ form_row(form.pickup_time, {'label' : 'Pickup Date/Time: '}) }}
            <input type="text" id="alternate" size="30" />
            {{ form_row(form.destination, {'label' : 'Destination: '}) }}
        </div>
        {{ form_row(form.vtype, {'label' : 'Vehicle Type'}) }}
        {{ form_row(form.purpose, {'label' : 'Purpose of Journey: '}) }}

        <!--/form fields-->
        <p>
            <button type="submit" formnovalidate="">Send Request</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('request_finish') }}">
            Cancel
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/public/js/jquery-ui.js"></script>
    <script src="/public/js/jquery-ui-i18n.js"></script>
    <script src="/public/js/jquery.ui.datepicker-en-AU.js"></script>
    <script src="/public/js/jquery.ui.datepicker-en-GB.js"></script>
    <script src="/public/js/jquery.ui.datepicker-en-NZ.js"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
    <script src="/public/js/jquery.timeentry.js"></script>
    <script src="/public/js/reqForm.js"></script>
    <script>
        $( "#request_pickup_time_datepicker" ).datepicker({
            altField: "#alternate",
            altFormat: "DD, d MM, yy"
        });
        $('#request_pickup_time_timepicker').timeEntry();
    </script>
{% endblock %}
