{% extends embedded == true
? 'Panda86AppBundle::embedded-details-view.html.twig'
: 'Panda86AppBundle::details-view.html.twig' %}

{% block title %}
    {% if embedded == false %}
        {{ parent() }}
        - Req #{{ entity.id }} details
    {% endif %}
{% endblock %}

{% set closeBtn_url = path('request_list') %}
{% block table %}
    <table class="record_properties table table-striped">
        <div class="form_description">
            <h2>Req #{{ entity.id }} details </h2>
        </div>
        <div id="req_status">
            {% if entity.status == 1 %}
                <p class="text-success"><strong>Approved</strong> <img class="hidden-print"
                                                                       src="/app/img/request/approved.png" alt=""></p>
                {% block approved_info %}
                    {% if vehicle is not null %}
                        <span class="offset1">
                        <strong class="inline">Assigned vehicle - </strong>
                    </span>
                        <span> {{ vehicle.getregno }}</span>
                        <p></p>
                        <span class="offset1">
                        <strong>Assigned driver - </strong>
                        <span>Mr. {{ driver.getdisplayname }}</span>
                    </span>
                        <p></p>
                    {% else %}
                        <span class="offset1">
                        <span>Assigned a rented vehicle.</span>
                    </span>
                        <p></p>
                        <span class="offset1">
                        <strong>Cab service :</strong> {{ cab.getcabservice.getname }}
                     </span>
                        <p></p>
                    {% endif %}
                    <span class="offset1">
                        <strong class="inline">Approved by :</strong>
                    </span>
                    <span>{{ approved_by.firstname }} {{ approved_by.lastname }} ({{ approved_by.email }})</span>
                    <p></p>
                {% endblock %}

            {% elseif entity.status == 2 %}
                <p class="text-error"><strong>Disapproved</strong> <img src="/app/img/request/disapproved.png" alt="">
                </p>
                {% block disapproved_info %}
                    <span class="text-muted">
                           This request has been disapproved due to unavailability of a vehicle.
                    </span>
                    <span>If you would like our further assistance regarding your request please call us on our extension no.</span>
                    <p></p>
                {% endblock %}
            {% else %}
                <p class="text-warning"><strong>Pending</strong> <img src="/app/img/request/pending.png" alt=""></p>
            {% endif %}
        </div>
        <br/>
        <tbody>
        <tr>
            <th>Request ID</th>
            <td>#{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Requester</th>
            <td>{{ entity.requester.name }}</td>
        </tr>
        <tr>
            <th>Journey details</th>
            <td>
                <p>
                    Type : {{ entity.journeytype }}
                </p>
                <p>
                    Days : {{ entity.days }}
                </p>
            </td>
        </tr>
        <tr>
            <th>Requested vehicle</th>
            <td>{{ entity.vtype.name }}</td>
        </tr>
        <tr>
            <th>Pickup location</th>
            <td>{{ entity.pickuploc }}</td>
        </tr>
        <tr>
            <th>Destination</th>
            <td>{{ entity.destination }}</td>
        </tr>
        <tr>
            <th>Pickup time</th>
            <td>{{ entity.pickuptime|date('Y-m-d \\- g:i a') }}</td>
        </tr>
        {% if entity.returntime %}
            <tr>
                <th>Return time</th>
                <td>{{ entity.returntime|date('g:i a') }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Purpose of travel</th>
            <td>{{ entity.purpose }}</td>
        </tr>
        <tr>
            <th>Other passengers</th>
            <td>
                {% if entity.accompaniedby|length > 0 %}
                    {% for passenger in entity.accompaniedby %}
                        <li>{{ passenger.name|e }}</li>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date created</th>
            <td>{{ entity.createdat|date('Y-m-d \\- g:i a') }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}