{% extends 'Panda86AppBundle::details-view.html.twig' %}

{% block title %}
    {{ parent() }}
    - Req #{{ entity.request.id }} details
{% endblock %}
{% set closeBtn_url = path('request_list') %}
{% block table %}
    <div class="form_description">
        <h2>Req #{{ entity.request.id }} details</h2>
    </div>
    <tbody>
    <tr>
        <th>Request ID</th>
        <td>{{ entity.request.id }}</td>
    </tr>
    <tr>
        <th>Requester</th>
        <td>{{ entity.employee.name }}</td>
    </tr>
    <tr>
        <th>Journey details</th>
        <td>
            <p>
                Type : {{ entity.request.journeytype }}
            </p>

            <p>
                Days : {{ entity.request.days }}
            </p>
        </td>
    </tr>
    <tr>
        <th>Requested vehicle</th>
        <td>{{ entity.request.vtype.name }}</td>
    </tr>
    <tr>
        <th>Pickup location</th>
        <td>{{ entity.request.pickuploc }}</td>
    </tr>
    <tr>
        <th>Destination</th>
        <td>{{ entity.request.destination }}</td>
    </tr>
    <tr>
        <th>Pickup time</th>
        <td>{{ entity.request.pickuptime|date('Y-m-d H:i:s') }}</td>
    </tr>
    {% if entity.request.starttime %}
        <tr>
            <th>Start time</th>
            <td>{{ entity.request.starttime|date('H:i') }}</td>
        </tr>
    {% endif %}
    {% if entity.request.returntime %}
        <tr>
            <th>Return time</th>
            <td>{{ entity.request.returntime|date('H:i') }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Purpose of travel</th>
        <td>{{ entity.request.purpose }}</td>
    </tr>
    <tr>
        <th>Other passengers</th>
        <td>
            {% if otherPassengers|length > 0 %}
                {% for passenger in otherPassengers %}
                    <li>{{ passenger.employee.name|e }}</li>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Date created</th>
        <td>{{ entity.request.createdat|date('Y-m-d H:i:s') }}</td>
    </tr>
    </tbody>
{% endblock %}